header
{
	background-color: #353334;
	width: 100%;
	height: 20px;
}
#logo
{
	width: 80px;
	height: 20px;
	float: left;
	margin-top: -2px;
	margin-left: 40px;
}
#logo img
{
	width: 40px;
}
.menu
{
	float: left;
}
.menu ul li
{
	float: left;
	padding: 0px 10px 0px 0px;
}
.menu ul li a
{
	text-decoration: none;
	color:white;
	font-size: 8px;
	
}
.redes a img
{
	width: 8px;
	border: .5px solid #fff;
	padding: 2px;

}
.redes
{
	padding-top: 3px; 
	float: right;
	margin-right: 40px;
}
.slider img
{
	width: 100%	;
	height: 400px;
}
.gris
{
	width: 100%;
	height: 350px;
	background-color: #afafaf;
	margin-top: -5px;
}
.contenido
{
	margin: 0px 40px 0px 40px;
	padding-top: 30px; 

}
.contenido section
{
	width: 33%;
	float: left;
	padding-top: 30px;
}
.contenido section img
{
	float: left;
	padding: 0px 15px 0px 15px;
	width: 44px;
}
.contenido section p
{
	float: left;
	font-size: 10px;
	width: 70%;
	padding-bottom: 5px;
	padding-top: 5px;
}
.contenido section h2
{
	font-size: 12px;
	font-weight: bold;
}
.contenido section a
{
	float: left;
	text-decoration: none;
	color: #666;
	font-size: 10px;
	padding: 15px 0px auto;
}
.testimonios
{
	margin: 50px 40px 50px 40px;

}
.titulo_testimonio
{
	text-align: center;
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: bold;
}
.detalle_testimonio
{
	color: grey;
	text-align: center;
	font-size: 14px;
}
.autor
{
		margin-top: 30px;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		color: grey;
}
.circulo
{
	width: 8px;
	height: 8px;
	background-color: grey;
	float: left;
	margin: 15px;
	border-radius: 100px;

}
.siguiente
{
	margin-left: 360px;  
}
.more
{
	padding-bottom: 50px;
	height: 250px;
}
.more img
{
	width: 40%;
	float: left;
}
.more section
{
	float: left;
	width: 60%;
	background-color: #353334;
	height: 243px;
	color:white;
}
.more section p
{
	font-size: 20px;
	margin: 20px;
	font-weight: bold;
}
.more section article
{
	margin: 20px;
	font-size: 14px;
	color:grey;
}
.more section p a
{
	text-decoration: none;
	color: grey;
	font-size: 10px;
}
.contactenos
{
	text-align: center;
	height: 200px;
}
.contactenos p
{
	font-size: 18px;
	color: grey;
	font-weight: bold;
	margin-bottom: 2px;
}
.contactenos span
{
	margin-top: 2px;
	font-size: 13px;
}
.contactenos button
{
	margin-top: 25px;
	  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.inverted {
	filter: invert(100%);
}
footer
{
	text-align: center;
	height: 200px;
	background-color: #e1dede;
	font-size: 12px;

}
footer img
{
	width: 70px;
	margin-top: 60px;
}